<div class="img">
  <img src="../../../assets/images/avatar.jpg" alt="" />
</div>

<div class="head-title">
  <h1>درباره من</h1>
  <p>
    مهدیار هستم و سنم 25 ساله و از 23سالگی برنامه نویسی را شروع کردم و زبان های
    html,css,js,bootstrap,angular مسلط هستم و در استانه شروع کلاس های بک اند
    هستم خوش حال میشم با من همکار کنید و عاشق یاد گیری چیزاهای جدیدی هستم.
  </p>
</div>

<a
  href="https://www.e-estekhdam.com/panel/cvs2/download"
  download
  target="_blank"
>
  <button type="button">مشاهده رزومه</button></a
>

<div class="container">
  <div class="skills">
    <h2>Html</h2>
    <div class="progress-bar">
      <div class="html"><span>75%</span></div>
    </div>
    <h2>Css</h2>
    <div class="progress-bar">
      <div class="css"><span>68%</span></div>
    </div>
    <h2>JavaScript</h2>
    <div class="progress-bar">
      <div class="javascript"><span>50%</span></div>
    </div>
    <h2>Bootstrap</h2>
    <div class="progress-bar">
      <div class="bootstrap"><span>60%</span></div>
    </div>
    <h2>Angular</h2>
    <div class="progress-bar">
      <div class="angular"><span>40%</span></div>
    </div>
  </div>
</div>
