<h2 class="section-heading">ارتباط با من</h2>

<div class="container">
  <div class="email">
    <i class="fa fa-envelope"></i>
    <span>mahdiyarsne98@gmail.com</span>
  </div>

  <div class="telegram">
    <i class="fa fa-telegram"></i>
    <span>Mahdiyar-Sne</span>
  </div>

  <div class="phone">
    <i class="fa fa-phone"></i>
    <span>09156683831</span>
  </div>

  <form class="form">
  <label for=""> راه های ارتباط با من</label>
    <input type="text" placeholder="نام و نام خانوادگی">
    <input type="email" placeholder="ایمیل">
    <input type="text" placeholder="شماره همراه">
    <button type="button">ارسال</button>
  </form>
</div>
