<div class="container">
  <p class="title">سلام</p>
  <div class="text">
    <h4>مهدی یار ثنایی مقدم</h4>
  </div>
  <div class="about">
    <h3>فرانت اند</h3>
    <p>
      وب سایت شخصی من خوش امدید و بنده دوسال در حوزه وب فعالیت دارم و خوش حال
      میشم با من همکار کنید و کار های تیمی دوست دارم و عاشق یادگیری چیز های
      جدیدی هستم ومخصوصا عاشق قهوه هستم و سرگرمی من ورزش کردن و کد زدن و گوش
      دادن به اهنگ های مورد علاقه ام و کتاب خواندن در اوقات استراحت. و عاشق
      داشتن حیوان خانکی مخصوصا گربه.
    </p>
    <img src="../../../assets/images/avatar.jpg" alt="" />
  </div>

  <a href="">
    <button type="button">بیاید با هم صحبت کنیم</button>
  </a>

  <a
    href="https://www.e-estekhdam.com/panel/cvs2/download"
    download
    target="_blank"
  >
    <button type="button">مشاهده رزومه</button></a
  >

  <div class="icons">
    <ul>
      <li>
        <a href=""> <i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href=""> <i class="fa fa-telegram"></i></a>
      </li>
      <li>
        <a href=""> <i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href=""> <i class="fa fa-github"></i></a>
      </li>
    </ul>
  </div>
</div>
