<div class="container">
  <h3>وب سایت شخصی اقای مهدی یار ثنایی مقدم</h3>

  <div class="links">
    <label for=""> ایمیل: mahdiyarsne98@gmail.com</label>
    <label for=""> تلفن: 355-565-65</label>
    <label for=""> موبایل: 0915353522</label>
  </div>


  <div class="icons">
    <ul>
      <li>
        <a href=""> <i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href=""> <i class="fa fa-telegram"></i></a>
      </li>
      <li>
        <a href=""> <i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href=""> <i class="fa fa-github"></i></a>
      </li>
    </ul>
  </div>
  <h5>طراحی شده توسط اقای مهدی یار ثنایی مقدم</h5>
  <hr>
</div>
