<div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../assets/images/code_128.png" />
        <h3>توسعه دهنده وب</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
        <a href="#"> اطلاعات بیشتر</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../assets/images/design_128.png" />
        <h3>طراحی</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است..
        </p>
        <a href="#">اطلاعات بیشتر</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../assets/images/seo.jpg" />
        <h3>سئو</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
        <a href="#"> اصلاعات بیشتر</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../assets/images/contact-writing.png" />
        <h3>تولید محتوا</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
        <a href="#">اطلاعات بیشتر</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../assets/images/uiux.png" />
        <h3>UI/UX</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
        <a href="#">اطلاعات بیشتر</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../assets/images/web-dev.png" />
        <h3>یوتیبور</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
        <a href="#">اصلاعات بیشتر</a>
      </div>
    </div>
  </div>
</div>
